<div class="form-group-label">
  <input
    [id]="id"
    [name]="name"
    [ngClass]="classes"
    [value]="value"
    (input)="handleInput($event)"
    (blur)="handleBlur($event)"
    (focus)="handleFocus($event)"
    [@inputFocusBlur]="focused ? 'focus-'+ size : 'blur-'+size"
    type="password"
  />
  <label [ngClass]="classes" [@labelFocusBlur]="focused ? 'focus-'+ size : 'blur-'+size">{{label}} <i class="fa fa-password">show</i></label>
  <span *ngIf="showError" class="info">{{errorText}}</span>
</div>

