@import '../../../../styles.scss';
.form-group-label {
  label {
    padding: 1.125rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 18px);
    margin-bottom: 0;
    line-height: .85;
    color: #495057;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  input {
    color: $middleBlck;
    outline: transparent;
    border-radius: .1875rem;
    border: 1px solid #ced4da;
    display: inline-block;
    line-height: .85;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
      border: 1px solid #333333;
    }
  }

  .small {
    font-size: .60rem;
    padding: .375rem .75rem;
  }
  .medium {
    font-size: 1rem;
    padding: .375rem .75rem;
    height: 2.25rem;
  }
  .large {
    font-size: .80rem;
    padding: .375rem .75rem;
  }
}
