/* You can add global styles to this file, and also import other style files */

$middleBlck: #4f4f4f;



/** Fonts */

$font-path: "./stories/assets/fonts";

/* Mukta-300 - latin */
@font-face {
  font-family: "mukta";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Mukta Light'), local('Mukta-Light'),
  url("#{$font-path}/mukta/mukta-v7-latin-300.woff2") format("woff2"), /* Modern Browsers */
  url("#{$font-path}/mukta/mukta-v7-latin-300.woff") format("woff"); /* Old Browsers */
}

/* Mukta-400 - latin */
@font-face {
  font-family: "mukta";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Mukta Regular'), local('Mukta-Regular'),
  url("#{$font-path}/mukta/mukta-v7-latin-400.woff2") format("woff2"), /* Modern Browsers */
  url("#{$font-path}/mukta/mukta-v7-latin-400.woff") format("woff"); /* Old Browsers */
}

/* Mukta-700 - latin */
@font-face {
  font-family: "mukta";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Mukta Bold'), local('Mukta-Bold'),
  url("#{$font-path}/mukta/mukta-v7-latin-700.woff2") format("woff2"), /* Modern Browsers */
  url("#{$font-path}/mukta/mukta-v7-latin-700.woff") format("woff"); /* Old Browsers */
}


/** Colors */

// Street One color mapping
$cbrColors: (
  // Layout Global CD
  dark-grey: #54585A,
  dark-medium-grey: #989A9B,
  white: #fff,
  black: #000,
  red-primary: #D22630,
  gray: #989A9B,
  medium-gray: #C6C6C6,
  medium-gray-lighter: #e5e5e5,
  lightgray: #EAEAEA,
  lighter-grey : #F8F8F8,
  pastel-highlight: #FA767A,
  pastel-highlight-strong: #F72F35,
  // button colors
  rolling-stone: #757a7d,
  shuttle-grey: #5B6063,
  cape-cod: #3A3D3E,
  // Bootstrap 4 Colors
  primary: #54585A,
  secondary: #CCC,
  success: #0C6F28,
  danger: #D22630,
  warning: #EBA832,
  info: #CCC,
  light: #F4F4F4,
  dark: #222,
  // Bootstrap 4 Textcolor
  textColor: #54585A,
  // Layout Tabs
  tab-primary : #FFF,
  tab-primary2: #F8F8F8,
    // Own SASS Color Variables
  primary2: #575756,
  header: #FFF,
  header-gray: lighter-grey ,
  gray-extra-light: #D7D7D7,
  discount: #d0021b,
  discountBadge: red-primary,
  // Tracking Color
  track-primary: #8EC3BD,
  track-secondary: #8ec3bdb3,
);

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1920px
);

// Return rate
$returnRate-mid: 41;
$returnRate-high: 61;

// Sticky
$sticky-top-position: 110px;

// Box-shadow
$box-shadow: 0 0 10px rgba(84, 88, 90, 0.2);
$box-shadow-bottom: 0 0 15px 0 rgba(84, 88, 90, 0.2);
$box-shadow-right: 10px 10px 10px 0 rgba(84, 88, 90, 0.2);
$box-shadow-inset: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
$box-shadow-outline: 0 0 10px rgba(0, 0, 0, 0.55);

// Text-shadow
$text-shadow-strong: 0 0 10px rgba(0, 0, 0, 0.95);
$text-shadow-medium: 0 0 10px rgba(0, 0, 0, 0.55);

// $header-height for toasts top
$header-height-lg: 77px;
$header-height-sm: 60px;
